<!DOCTYPE html>
<html>
    <head>
        <title>Snort Alerts</title>
    </head>
    <body>
        <h1>Snort Alert</h1>
        <table border="1">
            <tr>
                <th>Timestamp</th>
                <th>SID</th>
                <th>Attack Type</th>
                <th>Priority</th>
                <th>Source IP</th>
                <th>Destination IP</th>
            </tr>
            {% for alert in alerts %}
            <tr>
                <td>{{ alert.timestamp }}</td>
                <td>{{ alert.sid }}</td>
                <td>{{ alert.attack_type }}</td>
                <td>{{ alert.priority }}</td>
                <td>{{ alert.source_ip }}</td>
                <td>{{ alert.destination_ip }}</td>
            </tr>
            {% endfor %}
        </table>
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Home</button>
        </form>
    </body>
</html>